<div>
    <ng-container  *ngIf="addServiceDrawer">
       <h2 id="title-add-consumption" class="mt-10">Add service a {{customerName}}</h2>
        <mat-form-field appearance="outline" class="ml-28 mt-5 w-140">
            <mat-label>Service</mat-label>
            <mat-select [(ngModel)]="selectedService" name="food">
                <mat-option *ngFor="let service of services" [value]="service.name">
                    {{service.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button id="add-consumption-button" mat-raised-button class="ml-7 mt-7" (click)="addCustomerService()">Register</button>
        <button id="cancel-consumption-button" mat-raised-button class="ml-7 mt-7" (click)="cancelCustomerService()">Cancel</button>
    </ng-container>
    <mat-card  id="card-consumption" class="ml-30 mt-10 w-200" *ngFor="let consumption of consumptions">
        <h1>{{  customers[(consumption.customer)].name }}</h1>
        <h2>Consumption</h2>
        <mat-list>
            <mat-list-item  class="list-item-consumption" *ngFor="let serv of consumption.service">
                <p>{{ "■ " + services[serv].name }}</p>
                <button mat-flat-button id="delete-consumption-button">Delete</button>
                <button mat-flat-button id="modify-consumption-button">Modify</button>
            </mat-list-item>
        </mat-list>
        <h3 class="inline-block mt-10"><i>Total to pay: 500 soles</i></h3>
        <button id="add-button-consumption" mat-raised-button class="ml-30 mt-10" (click)="addService(consumption)">Add Service</button>
    </mat-card>
</div>
