#add-consumption-button{
    background: #009D76;
    color: #FFFFFF;
    height: 90px;
}
#cancel-consumption-button{
    background: #D82C0D;
    color: #FFFFFF;
    height: 90px;
}
#card-consumption h1 {
font-size: 40px;
font-weight: 700;
}
#card-consumption h2 {
font-size: 30px;
font-weight: 500;
margin-bottom: 20px;
}
.list-item-consumption p {
width: 800px;
font-size: 15px;
margin-bottom: 10px ;
}
#delete-consumption-button {
    background: #D82C0D;
    color: #FFFFFF;
    margin-right: 10px;
}
#modify-consumption-button {
    background: #2E72D2;
    color: #FFFFFF;
}
#title-add-consumption {
    margin-top: 10px;
    font-size: 30px;
    margin-left: 120px;
    font-weight: 700;
}
#add-button-consumption{
    background: #009D76;
    color: #FFFFFF;
    height: 70px;
    margin-left: 481px !important;
}
