<h1 mat-dialog-title>Register a guest</h1>
<div mat-dialog-content>
    <form [formGroup]="registerForm">

        <mat-form-field class="inputRegister" appearance="outline">
            <mat-label>Enter your name</mat-label>
            <input matInput placeholder="Name" formControlName="name" required>
            <!--<mat-error *ngIf="name.invalid">{{getErrorMessage(name)}}</mat-error>-->
        </mat-form-field>
        <mat-form-field class="inputRegister" appearance="outline">
            <mat-label>Enter your ID CARD / Passport</mat-label>
            <input matInput placeholder="Id card / passport" formControlName="idCard" required>
            <!-- <mat-error *ngIf="idCard.invalid">{{getErrorMessage(idCard)}}</mat-error>-->
         </mat-form-field>
         <mat-form-field class="inputRegister" appearance="outline">
             <mat-label>Enter your phone number</mat-label>
             <input matInput placeholder="Phone number" formControlName="phone" required>
             <!--  <mat-error *ngIf="phone.invalid">{{getErrorMessage(phone)}}</mat-error>-->
           </mat-form-field>
           <mat-form-field class="inputRegister" appearance="outline">
               <mat-label>Enter your email</mat-label>
               <input matInput placeholder="Email" formControlName="email" required>
               <!--  <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>-->
             </mat-form-field>


             <mat-form-field class="inputRegister" appearance="fill">
                 <mat-label>Please, select</mat-label>
                 <mat-select [(ngModel)]="categoryRoom" name="category">
                     <mat-option *ngFor="let category of categories" [value]="category.value">
                         {{category.viewValue}}
                     </mat-option>
                 </mat-select>
             </mat-form-field>

             <mat-form-field class="inputRegister" appearance="fill">
                 <mat-label>Please, select</mat-label>
                 <mat-select [(ngModel)]="availableRoom" name="room">
                     <mat-option *ngFor="let room of rooms" [value]="room.value">
                         {{room.viewValue}}
                     </mat-option>
                 </mat-select>
             </mat-form-field>

             <mat-form-field class="inputRegister" class="example-full-width" appearance="fill">
                 <mat-label>Days quantity</mat-label>
                 <input matInput placeholder="Days" type="number" min="1">
             </mat-form-field>
             <p>{{availableRoom}}</p>
             <p>{{categoryRoom}}</p>
         </form>

     </div>
     <div mat-dialog-actions [align]="'end'">
         <button mat-raised-button color="warn" mat-dialog-close>Close</button>
         <button style="margin-left: 1rem;" mat-raised-button color="primary" (click)="registerGuest()">Save</button>
     </div>
