#add-button{
    background: #009D76;
    color: #FFFFFF;
    height: 70px;
}
#service-section{
    display: flex;
    flex-direction: column;
}
.mat-card{
    width: 800px;
}
.mat-card h3
{
    font-size: 30px;
    font-weight: 700;
}
.mat-card p{
    font-size: 20px;
}
#title-add{
    margin-top: 10px;
    font-size: 30px;
    margin-left: 120px;
}
.mat-form-field{
    margin-left: 120px;
    color: #000000;
}
#add-button-service{
    background: #009D76;
    color: #FFFFFF;
    height: 70px;
}
#delete-button-service{
    background: #D82C0D;
    color: #FFFFFF;
    height: 70px;
}
