<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex flex-col flex-auto w-full">

        <!-- CONTENT GOES HERE -->
        <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

            <div class="flex items-center justify-between w-full">
                <div>
                    <h1 class="mt-4 mb-4 text-3xl font-extrabold leading-7 tracking-tight truncat md:text-4xl ">
                        Guests</h1>
                </div>
            </div>
            <div class="w-full mt-8">

                <h2 class=" text-2xl font-semibold leading-tight ">Upcoming reservations</h2>
            </div>

            <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">
                <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
                    <button
                        style="max-width: 250px;background-color:  #009D76;"
                        class="sm:inline-flex ml-3"
                        mat-flat-button
                        (click)="openDialogRegister()"
                        [color]="'primary'">
                        <span class="ml-2">Register an Employee</span>
                    </button>
                    <div
                        class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden">
                        <h1>caca</h1>
                        <button
                            mat-flat-button
                            [color]="'primary'">
                            <span class="ml-2">acaca</span>
                        </button>
                        <h3>acac</h3>
                        <h1>sdsd</h1>

                    </div>
                    <div
                        class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden">
                        <h1>wdwdw</h1>
                        <button
                            mat-flat-button
                            [color]="'primary'">
                            <span class="ml-2">wdwd</span>
                        </button>
                        <h3>wdwdw</h3>
                        <h1>wdwda</h1>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
