#add-button-products{
    background: #009D76;
    color: #FFFFFF;
    height: 70px;
    width: 10rem;
}

.mat-card-guests
{
    font-size: 30px;
    font-weight: 700;
}
.mat-card-guests-content{
    font-size: 18px;
}

#update-button-guest{
    background: #009D76;
    color: #FFFFFF;
    height: 70px;
}
#delete-button-guest{
    background: #D82C0D;
    color: #FFFFFF;
    height: 70px;
}
#pay-button-guest{
    background: #0433cf;
    color: #FFFFFF;
    height: 70px;
}
